
<h1>Pokemon Tweet Attack!</h1>

<h2>SELECT YOUR POKEMON TEAM</h2>
<div id="pokemon-list">
  <div class="loader">
    <img src="http://codepen.io/boltaway/pen/BjyFb/image/large.png"/>
  </div>
</div>

<div class="team-container">
  <img id="trainer" src="https://vignette1.wikia.nocookie.net/nintendo/images/7/7b/Red_Pok%C3%A9monRB.png/revision/latest/scale-to-width-down/180?cb=20080415202057&path-prefix=en"/>
  <div id="ready-btn">READY TO FIGHT</div>
</div>
