<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Geo|Monoton" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>Pokemon Tweet Attack!</h1>

    <h2>SELECT YOUR POKEMON TEAM</h2>
    <div id="pokemon-list">

    </div>

    <div class="team-container">
      <img id="trainer" src="https://vignette1.wikia.nocookie.net/nintendo/images/7/7b/Red_Pok%C3%A9monRB.png/revision/latest/scale-to-width-down/180?cb=20080415202057&path-prefix=en"/>
      <div id="ready-btn">READY TO FIGHT</div>
    </div>

  </body>
</html>
